/* ALL */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
/********************* 404 **********************/
.page404 {
  background-image: url(../images/bg-404.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  height: 100vh;
  padding: 100px 0;
}
/* Phần số 404 svg */
.page404_content {
  width: 500px;
  text-align: center;
  fill: #009f4d;
}
/*style 2 số 4 */
.st1 {
  font-size: 83px;
  font-family: "Volkhov", serif;
}
/* bóng mờ vòng tròn */
#XMLID_5_ {
  fill: #009f4d;
  filter: url(#blurFilter4);
}
path#XMLID_11_,
path#XMLID_2_ {
  fill: #009f4d;
}
/* ANIMATION hình tròn mở rộng */
.page404_content .circle {
  animation: out 2s infinite ease-out;
  fill: #009f4d;
}
@keyframes out {
  0% {
    r: 1;
    opacity: 0.9;
  }

  25% {
    r: 5;
    opacity: 0.3;
  }

  50% {
    r: 10;
    opacity: 0.2;
  }

  75% {
    r: 15;
    opacity: 0.1;
  }

  100% {
    r: 20;
    opacity: 0;
  }
}
/* Page404_h1 */
.page404_h1 h1 {
  font-size: 1.5rem;
  font-weight: 300;
  color: #060606;
  text-align: left;
}
/* Page404 form */
.page404_input {
  padding: 10px 58px 10px 20px;
  font-size: 1rem;
  color: #060606;
  border: 2px solid #eee;
  border-radius: 35px;
  background-color: #f4f4f4;
  cursor: text;
  height: auto;
  width: 450px;
  line-height: 36px;
}
/* Xóa viền khi nhấn vô */
.page404_input:focus {
  outline: none;
}
/* Page 404 button */
.page404_search {
  position: relative;
}
.page404_search button {
  border: none;
  color: #009f4d;
  position: absolute;
  background-color: #f4f4f4;
  padding: 18px;
  font-size: 1rem;
  right: 10%;
  top: 4px;
}
/* Back To Home */
.page404_back {
  margin-top: 50px;
  text-align: left;
}
.page404_back a {
  color: #060606;
  font-weight: 600;
  transition: all 0.5s;
}
.page404_back a:hover {
  color: #009f4d;
}
/********************* FOOTER **********************/
footer {
  padding: 100px 0;
}
footer h3 {
  font-size: 20px;
  line-height: 25px;
  margin-bottom: 30px;
  font-weight: 600;
  color: #060606;
}
footer p {
  margin-top: 1rem;
  line-height: 24px;
}
footer .logo {
  position: relative;
}
footer a {
  color: #707070;
  transition: all 0.5s;
}
footer .logo a {
  color: #fb811e;
  font-size: 32px;
  transition: all 0.5s;
}

footer .logo i {
  font-size: 22px;
  position: absolute;
  left: 13%;
  top: -25%;
}
.page404_right a {
  color: #009f4d;
}
/* HOVER LOGO */
footer a:hover {
  color: #fb811e;
}
footer .logo a:hover {
  color: black;
}
/* FOOTER EMAIL */
footer form input {
  background-color: #f4f4f4;
  padding: 12px 20px;
  font-size: 1rem;
  outline: none;
  width: 80%;
  color: #707070;
  border: 1px solid #eee;
  border-radius: 30px 0 0 30px;
}
footer form button {
  background-color: #009f4d;
  border: none;
  outline: none;
  font-size: 1rem;
  padding: 12px;
  width: 20%;
  color: white;
  border-radius: 0 30px 30px 0;
  transition: all 0.5s;
}
footer form button:hover {
  opacity: 0.8;
}
/* FOOTER SOCIAL */
.footer_social li {
  margin-right: 20px;
  outline: none;
}
footer .footer_social a {
  display: block;
  color: #009f4d;
  width: 35px;
  height: 35px;
  line-height: 35px;
  border-radius: 50%;
  background: rgb(10 191 83 / 8%);
  text-align: center;
}
footer .footer_social a:hover {
  color: #fb811e;
  background: rgb(255 201 69 / 19%);
  box-shadow: 0px 4px 7px 0px rgb(10 10 10 / 24%);
}
/* BACK TO TOP */
.back_to_top {
  position: fixed;
  bottom: 90px;
  right: 15px;
  z-index: 998;
  font-size: 1rem;
  border: none;
  outline: none;
  color: white;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-color: #009f4d;
  border-radius: 5px;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s;
}
.cd-top--is-visible {
  visibility: visible;
  opacity: 1;
}
/********************** RESPONSIVE **********************/
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1200px;
  }
}
