/* ALL */
:root {
  --primary-color: #fb811e;
  --secondary-color: #009f4d;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font: inherit;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Source Sans 3", sans-serif;
  min-height: 100vh;
  font-weight: normal;
  font-size: 17px;
  line-height: 27px;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
img {
  width: 100%;
  object-fit: cover;
  display: block;
}
/* Dark themes */
body {
  --bg-color: #ffff;
  --heading-color: #000;
  --text-color: #707070;
  --color-hint: #f4f4f4;
  --border-color: #eee;
  --shadow-color: rgb(0 0 0 / 3%);
  background-color: var(--bg-color);
  color: var(--text-color);
}

#myBody.dark {
  --bg-color: #222222;
  --heading-color: #fdfffc;
  --text-color: #b7b7b7;
  --color-hint: #0b0d0e;
  --border-color: #4e4e4e;
  --shadow-color: rgb(23 19 19);
}
/* HEADER */
#header {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 90px;
  display: flex;
  align-items: center;
  background-color: transparent;
  transition: all 0.5s;
  z-index: 999;
}

#header .container-lg {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

#header .logo {
  position: relative;
  text-decoration: none;
  font-size: 32px;
}

#header .logo a {
  color: var(--primary-color);
  text-decoration: none;
}

#header .logo i {
  font-size: 22px;
  position: absolute;
  left: 32%;
  top: -25%;
}

/* Nav */
#header .nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header .nav-themes {
  cursor: pointer;
  padding: 5px;
  margin: 0 10px;
}

#header .nav-themes:hover > i {
  color: var(--primary-color);
}

#header .nav-themes .gg-moon {
  display: block;
}

#header .nav-themes .gg-sun {
  display: none;
}

.dark #header .nav-themes .gg-sun {
  display: block;
}

.dark #header .nav-themes .gg-moon {
  display: none;
}

#header .nav-container i {
  font-size: 18px;
}

#header .nav-search {
  width: 40px;
  position: relative;
  background-color: white;
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 25px;
  overflow: hidden;
  border: 1px solid #ccc;
  cursor: pointer;
  transition: width 0.5s;
}

#header .nav-search input {
  padding: 0 5px;
  padding-left: 35px;
  font-size: 14px;
  border: 0;
  position: absolute;
  opacity: 0;
  top: 5px;
  left: 0;
  outline: none;
  width: 100%;
  cursor: pointer;
  z-index: 1;
}

#header .nav-search:focus-within {
  width: 200px;
}

#header .nav-search input:focus {
  opacity: 1;
}

#header .nav-search input:focus + i {
  position: relative;
  z-index: 1;
}

#header .nav-themes {
  color: #fff;
  padding: 5px;
  font-size: 20px;
}

#header .dropdown .dropdown-toggle::after {
  display: none;
}

#header .dropdown > a {
  background-color: inherit;
  border: none;
  display: flex;
  align-items: center;
}

#header .dropdown span {
  font-size: 25px;
}

#header .dropdown .dropdown-menu {
  width: 250px;
  right: 0;
  border: 1px solid transparent;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  overflow: hidden;
  background-color: var(--bg-color);
  transition: all 0.5s;
}

#header .dropdown-menu li a {
  display: block;
  padding: 7px;
  text-decoration: none;
  color: var(--heading-color);
  text-transform: uppercase;
  font-weight: 600;
  transition: all 0.5s;
}

#header .dropdown-menu li a.active {
  color: var(--primary-color);
}

#header .dropdown-menu li a:not(.active):hover {
  color: var(--primary-color);
  background-color: var(--bg-color);
}

#header .dropdown-menu {
  background-color: var(--bg-color);
}
/********************* 404 **********************/
.page404 {
  background-image: url(../images/bg-404.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  height: 100vh;
  padding: 200px 0 100px 0;
}
/* Phần số 404 svg */
.page404_content {
  width: 500px;
  text-align: center;
  fill: #009f4d;
}
/*style 2 số 4 */
.st1 {
  font-size: 83px;
  font-family: "Volkhov", serif;
}
/* bóng mờ vòng tròn */
#XMLID_5_ {
  fill: #009f4d;
  filter: url(#blurFilter4);
}
path#XMLID_11_,
path#XMLID_2_ {
  fill: #009f4d;
}
/* ANIMATION hình tròn mở rộng */
.page404_content .circle {
  animation: out 2s infinite ease-out;
  fill: #009f4d;
}
@keyframes out {
  0% {
    r: 1;
    opacity: 0.9;
  }

  25% {
    r: 5;
    opacity: 0.3;
  }

  50% {
    r: 10;
    opacity: 0.2;
  }

  75% {
    r: 15;
    opacity: 0.1;
  }

  100% {
    r: 20;
    opacity: 0;
  }
}
/* Page404_h1 */
.page404_h1 h1 {
  font-size: 1.5rem;
  font-weight: 600;
  color: #060606;
  text-align: left;
}
/* Page404 form */
.page404_input {
  padding: 10px 58px 10px 20px;
  font-size: 1rem;
  color: #060606;
  border: 2px solid #eee;
  border-radius: 35px;
  background-color: var(--color-hint);
  cursor: text;
  height: auto;
  width: 450px;
  line-height: 36px;
}
/* Xóa viền khi nhấn vô */
.page404_input:focus {
  outline: none;
}
/* Page 404 button */
.page404_search {
  position: relative;
}
.page404_search button {
  border: none;
  color: #009f4d;
  position: absolute;
  background-color: var(--color-hint);
  padding: 10px;
  font-size: 1rem;
  right: 10%;
  top: 7px;
}
/* Back To Home */
.page404_back {
  margin-top: 50px;
  text-align: left;
}
.page404_back a {
  color: #060606;
  font-weight: 600;
  transition: all 0.5s;
}
.page404_back a:hover {
  color: #009f4d;
}
/********************* FOOTER **********************/
footer {
  padding: 100px 0;
}
footer h3 {
  font-size: 20px;
  line-height: 25px;
  margin-bottom: 30px;
  font-weight: 600;
  color: var(--heading-color);
}
footer p {
  margin-top: 1rem;
  line-height: 24px;
}
footer .logo {
  position: relative;
}
footer a {
  color: #707070;
  transition: all 0.5s;
}
footer .logo a {
  color: #fb811e;
  font-size: 32px;
  transition: all 0.5s;
  font-family: "Volkhov", serif;
}

footer .logo i {
  font-size: 22px;
  position: absolute;
  left: 13%;
  top: -25%;
}
.page404_right a {
  color: #009f4d;
}
/* HOVER LOGO */
footer a:hover {
  color: #fb811e;
}
footer .logo a:hover {
  color: black;
}
/* FOOTER EMAIL */
footer form input {
  background-color: var(--color-hint);
  padding: 12px 20px;
  font-size: 1rem;
  outline: none;
  width: 80%;
  color: var(--text-color);
  border: 1px solid var(--border-color);
  border-radius: 30px 0 0 30px;
}
footer form button {
  background-color: #009f4d;
  border: none;
  outline: none;
  font-size: 1rem;
  padding: 12px;
  width: 20%;
  color: white;
  border-radius: 0 30px 30px 0;
  transition: all 0.5s;
}
footer form button:hover {
  opacity: 0.8;
}
/* FOOTER SOCIAL */
.footer_social li {
  margin-right: 20px;
  outline: none;
}
footer .footer_social a {
  display: block;
  color: #009f4d;
  width: 35px;
  height: 35px;
  line-height: 35px;
  border-radius: 50%;
  background: rgb(10 191 83 / 8%);
  text-align: center;
}
footer .footer_social a:hover {
  color: #fb811e;
  background: rgb(255 201 69 / 19%);
  box-shadow: 0px 4px 7px 0px rgb(10 10 10 / 24%);
}
/* BACK TO TOP */
.back_to_top {
  position: fixed;
  bottom: 90px;
  right: 15px;
  z-index: 998;
  font-size: 1rem;
  border: none;
  outline: none;
  color: white;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-color: #009f4d;
  border-radius: 5px;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s;
}
.cd-top--is-visible {
  visibility: visible;
  opacity: 1;
}
/********************** RESPONSIVE **********************/
/* Responsive */
@media screen and (min-width: 1280px) {
  .container-lg {
    max-width: 1200px;
  }
}
