/* ALL */
:root {
  --primary-color: #fb811e;
  --secondary-color: #009f4d;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
/* Dark themes */
body {
  --bg-color: #ffff;
  --heading-color: #000;
  --text-color: #707070;
  --color-hint: #f4f4f4;
  --border-color: #eee;
  --shadow-color: rgb(0 0 0 / 3%);
  background-color: var(--bg-color);
  color: var(--text-color);
}

#myBody.dark {
  --bg-color: #222222;
  --heading-color: #fdfffc;
  --text-color: #b7b7b7;
  --color-hint: #0b0d0e;
  --border-color: #4e4e4e;
  --shadow-color: rgb(23 19 19);
}
/* HEADER */
#header {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 90px;
  display: flex;
  align-items: center;
  background-color: transparent;
  transition: all 0.5s;
  z-index: 999;
}

#header .container-lg {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

#header .logo {
  position: relative;
  text-decoration: none;
  font-size: 32px;
}

#header .logo a {
  color: var(--primary-color);
  text-decoration: none;
}

#header .logo i {
  font-size: 22px;
  position: absolute;
  left: 32%;
  top: -25%;
}

/* Nav */
#header .nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header .nav-themes {
  cursor: pointer;
  padding: 5px;
  margin: 0 10px;
}

#header .nav-themes:hover > i {
  color: var(--primary-color);
}

#header .nav-themes .gg-moon {
  display: block;
}

#header .nav-themes .gg-sun {
  display: none;
}

.dark #header .nav-themes .gg-sun {
  display: block;
}

.dark #header .nav-themes .gg-moon {
  display: none;
}

#header .nav-container i {
  font-size: 18px;
}

#header .nav-search {
  width: 40px;
  position: relative;
  background-color: white;
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 25px;
  overflow: hidden;
  border: 1px solid #ccc;
  cursor: pointer;
  transition: width 0.5s;
}

#header .nav-search input {
  padding: 0 5px;
  padding-left: 35px;
  font-size: 14px;
  border: 0;
  position: absolute;
  opacity: 0;
  top: 5px;
  left: 0;
  outline: none;
  width: 100%;
  cursor: pointer;
  z-index: 1;
}

#header .nav-search:focus-within {
  width: 200px;
}

#header .nav-search input:focus {
  opacity: 1;
}

#header .nav-search input:focus + i {
  position: relative;
  z-index: 1;
}

#header .nav-themes {
  color: #fff;
  padding: 5px;
  font-size: 20px;
}

#header .dropdown .dropdown-toggle::after {
  display: none;
}

#header .dropdown > a {
  background-color: inherit;
  border: none;
  display: flex;
  align-items: center;
}

#header .dropdown span {
  font-size: 25px;
}

#header .dropdown .dropdown-menu {
  width: 250px;
  right: 0;
  border: 1px solid transparent;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  overflow: hidden;
  background-color: var(--bg-color);
  transition: all 0.5s;
}

#header .dropdown-menu li a {
  display: block;
  padding: 7px;
  text-decoration: none;
  color: var(--heading-color);
  text-transform: uppercase;
  font-weight: 600;
  transition: all 0.5s;
}

#header .dropdown-menu li a.active {
  color: var(--primary-color);
}

#header .dropdown-menu li a:not(.active):hover {
  color: var(--primary-color);
  background-color: var(--bg-color);
}

#header .dropdown-menu {
  background-color: var(--bg-color);
}
/* HEADER BACKGROUND */
.header_bg {
  background-image: url(../images/bg-contact.png);
  background-position: bottom;
  background-size: cover;
  height: 30vh;
  padding-top: 150px;
}
.header_bg h4 {
  color: var(--heading-color);
}
.header_bg a {
  color: var(--text-color);
  font-weight: 700;
  transition: all 0.5s;
}
.header_bg span {
  color: var(--text-color);
}
.header_bg a:hover {
  color: #fb811e;
}
/********************* CONTACT **********************/
/* BUTTON */
.button {
  padding: 12px 30px;
  font-weight: 500;
  border-radius: 35px;
  background-color: #fb811e;
  outline: none;
  color: white;
  border: 1px solid transparent;
  cursor: pointer;
  transition: all 0.5s;
}
.button:hover {
  background-color: #009f4d;
}
/* CONTACT CONTENT HEADER */
.contact_content h5 {
  color: #fb811e;
  font-size: 22px;
}
.contact_content h3 {
  font-size: 40px;
  line-height: 50px;
  color: var(--heading-color);
  font-weight: 700;
}
/* CONTACT ITEM */
.contact_item i {
  color: #fb811e;
  font-size: 20px;
}
.contact_item ul {
  padding-left: 1rem;
}
.contact_item ul li:first-of-type {
  color: var(--heading-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  margin-bottom: 8px;
}
.contact_item ul li:last-of-type,
.contact_item ul li a {
  font-size: 17px;
  line-height: 27px;
  color: var(--text-color);
  transition: all 0.5s;
}
.contact_item ul li a:hover {
  color: #fb811e;
}
/* CONTACT FORM */
.contact_form input {
  color: #666;
  background-color: var(--bg-color);
  border-radius: 3px;
  font-size: 15px;
  padding: 14px;
  border: 1px solid var(--border-color);
  outline: none;
  margin-bottom: 16px;
  line-height: 1.5;
  width: 100%;
}
.contact_form textarea {
  height: 120px;
  width: 100%;
  color: #060606;
  background-color: var(--bg-color);
  font-size: 15px;
  padding: 14px;
  border: 1px solid var(--border-color);
  outline: none;
  border-radius: 4px;
}
/* CONTACT MAP */
.contact_map {
  padding-top: 100px;
}
